@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?l8jco5');
    src: url('fonts/icomoon.eot?l8jco5#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?l8jco5') format('truetype'), url('fonts/icomoon.woff?l8jco5') format('woff'), url('fonts/icomoon.svg?l8jco5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    padding: 0;
    margin: 0;
}

#wrap1 {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: gray;
    z-index: 2;
}

#wrap1 div {
    position: absolute;
    height: 50px;
    line-height: 50px;
    text-align: center;
    right: 200px;
}

#wrap2 {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 50px;
    background-color: #131313;
    z-index: 2;
}

#wrap2 ul {
    position: absolute;
    list-style: none;
    display: flex;
    width: 80%;
    height: 50px;
    left: 10%;
    justify-content: space-around;
}

#wrap2 ul li {
    position: relative;
    width: 10%;
    height: 50px;
    line-height: 50px;
    color: gray;
    cursor: pointer;
}

#wrap2 ul li:hover {
    color: white;
}

#wrap2 ul li:nth-child(1) {
    font-family: 'icomoon';
}

#wrap2 ul li:nth-child(8) {
    font-family: 'icomoon';
}

#wrap2 ul li:nth-child(9) {
    font-family: 'icomoon';
}

#wrap3 {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
}

#wrap3 div {
    position: absolute;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

#wrap3 div:nth-child(1) {
    font-size: 40px;
    font-weight: 700;
    left: 300px;
}

#wrap3 div:nth-child(2) {
    left: 800px;
}

#wrap3 div:nth-child(3) {
    left: 900px;
}

#wrap3 div:nth-child(4) {
    background-color: blueviolet;
    height: 40px;
    line-height: 40px;
    width: 100px;
    border-radius: 50px;
    left: 1000px;
    top: 5px;
}

#wrap3 div:nth-child(4):hover {
    background-color: aquamarine;
}

#wrap4 {
    position: relative;
    text-align: center;
    top: 115px;
}

#wrap4 p {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}

#wrap4 p:nth-child(1) {
    height: 70px;
    line-height: 70px;
    font-size: 60px;
    /* margin-top: 50px;
    opacity: 0;
    transform: all 1s linear; */
}

#wrap4 p:nth-child(3) {
    color: gray;
}

#wrap4 p:nth-child(4) {
    color: gray;
}

#wrap4 ul {
    margin: 20px auto;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

#wrap4 ul li {
    color: blue;
    width: 22%;
    cursor: pointer;
}

#wrap4 ul li a {
    text-decoration: none;
}

#wrap4 ul li a:hover {
    text-decoration: underline;
}

#wrap4 div {
    height: 300px;
    width: 50%;
    margin: 20px auto;
    background: url(img/apple.png) no-repeat;
    background-size: cover;
}

#wrap5 {
    position: relative;
    top: 100px;
    color: white;
    background-color: black;
    height: 656px;
    overflow: hidden;
}

#wrap5 div {
    position: relative;
    top: 30px;
    text-align: center;
    margin-top: 30px;
}

#wrap5 div p {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}

#wrap5 div p:nth-child(1) {
    height: 70px;
    line-height: 70px;
    font-size: 60px;
    opacity: 0;
    margin-left: 50px;
    transition: all 1.0s linear;
}

#wrap5 div p:nth-child(3) {
    color: gray;
}

#wrap5 div p:nth-child(4) {
    color: gray;
}

#wrap5 div ul {
    margin: 20px auto;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

#wrap5 div ul li {
    width: 22%;
    cursor: pointer;
}

#wrap5 div ul li a {
    text-decoration: none;
    color: blue;
}

#wrap5 div ul li a:hover {
    text-decoration: underline;
}

#wrap5 div div {
    height: 300px;
    width: 60%;
    margin: 20px 100%;
    transition: all 1.0s linear;
}

#wrap5 div div img {
    width: 100%;
    height: 100%;
}

#wrap6 {
    position: relative;
    top: 100px;
    height: 585px;
}

#wrap6>div {
    position: relative;
    top: 100px;
    text-align: center;
    margin-top: 30px;
}

#wrap6 div p {
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    cursor: pointer;
}

#wrap6 div p:nth-child(1) {
    height: 70px;
    line-height: 70px;
    font-size: 60px;
}

#wrap6 div ul {
    margin: 40px auto;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

#wrap6 div ul li {
    width: 22%;
    cursor: pointer;
}

#wrap6 div ul li a {
    text-decoration: none;
    color: blue;
}

#wrap6 div ul li a:hover {
    text-decoration: underline;
}

#wrap6 div div {
    height: 300px;
    width: 60%;
    margin: 20px auto;
    background: url(../workimg/apple3.png) no-repeat;
    background-size: cover;
}

#wrap7 {
    position: relative;
    top: 120px;
    width: 100%;
}

#wrap7 ul {
    list-style: none;
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
}

#wrap7 ul:nth-child(1) {
    opacity: 0;
    top: 50px;
    transition: all 1.0s linear;
}

#wrap7 ul:nth-child(2) {
    opacity: 0;
    top: -100px;
    transition: all 1.0s ease;
}

#wrap7 ul li {
    position: relative;
    width: 45%;
    height: 650px;
    line-height: 650px;
    margin-bottom: 20px;
}

#wrap7 ul li img {
    width: 100%;
    height: 100%;
}

#wrap8 {
    position: relative;
    top: 150px;
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #F2F2F2;
}

#wrap8 img {
    position: absolute;
    width: 17%;
    height: 80%;
    top: 10%;
    left: 50%;
    transition: all 1.2s ease;
}

#wrap9 {
    margin-top: 200px;
    width: 100%;
    height: 600px;
    text-align: center;
}

#wrap9 img {
    width: 80%;
    height: 100%;
}

ul {
    list-style: none;
}

#bac1 {
    position: fixed;
    display: flex;
    left: -104px;
    top: 20%;
    width: 250px;
    height: 500px;
    z-index: 2;
    transition: all 0.8s linear;
}

#bac1 ul {
    top: 116px;
    position: absolute;
    height: 100%;
    width: 60%;
    justify-content: space-around;
}

#bac1 ul li {
    position: relative;
    font-size: 15px;
    height: 10%;
    line-height: 50px;
    width: 70%;
    background-color: beige;
    cursor: pointer;
    margin-top: 6%;
    transition: all 1.0s linear;
}

#bac1 ul li:hover {
    background-color: gray;
}

#bac1 div {
    position: absolute;
    width: 20%;
    height: 15%;
    top: 40%;
    left: 43%;
    transition: all 0.8s linear;
}

#bac1 div img {
    width: 100%;
    height: 100%;
}